<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <!-- Configurations that affect the Test Framework -->
    <RunConfiguration>
        <MaxCpuCount>1</MaxCpuCount>
        <TargetPlatform>x64</TargetPlatform>
    </RunConfiguration>

    <TestRunParameters>
        <Parameter name="connectionString" value="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=ETLBox;" />
        <Parameter name="connectionStringDest" value="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=ETLBoxDest;" />
        <Parameter name="connectionStringLog" value="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=ETLBoxLog;" />

        <Parameter name="odbcConnectionString" value="Driver={SQL Server};Server=.\SQLEXPRESS;Database=ETLBox;Trusted_Connection=Yes;" />
        <Parameter name="accessConnectionString" value="Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\DB\Test.mdb" />
        <Parameter name="sqliteConnectionString" value="Data Source=.\db\SQLite.db;Version=3;" />

        <Parameter name="dbName" value="ETLBox" />
        <Parameter name="dbNameDest" value="ETLBoxDest" />
        <Parameter name="dbNameLog" value="ETLBoxLog" />
    </TestRunParameters>
</RunSettings>
