# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.cs    text    diff=csharp eol=crlf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=4
*.jpg   binary
*.png   binary
*.ico   binary

